body {
    background-color: gray;
    color: black;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
    text-align: center;
    margin: 0;
    padding: 0;
}

header, section, footer {
    padding: 20px;
}

header {
    background-image: url("images/rm118-ken-12.jpg");
    color: black;
}

section {
    background-image: url("images/rm118-ken-12.jpg");
    margin: 20px 0;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

img {
    max-width: 100%;
    border-radius: 8px; 
    margin-bottom: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
}

.project {
    margin-bottom: 20px;
}

.download-btn {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 10px;
    background-color: #3498db;
    color: #ffffff;
    border-radius: 5px;
    text-decoration: none;
}

footer {
    background-color: #d3d3d3;
}
